<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="AuthLogConfiguration"
	packages="com.westone.cryptoservice.lm.auth">
	
	<Properties>
		<Property name="lm.log">logs/lm.auth.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="debug"/>
	
	<Appenders>
		<RollingFile name="RollingFile" fileName="${lm.log}"
                     filePattern="logs/$${date:yyyy-MM}/lm-auth-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="5MB"/>
        </RollingFile>
	</Appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="RollingFile"/>
		</root>
	</loggers>
</Configuration>